[submodule "src/yajl"]
	path = src/yajl
	url = https://github.com/digitalbitbox/yajl.git
[submodule "secp256k1"]
	path = src/secp256k1
	url = https://github.com/digitalbitbox/secp256k1.git
[submodule "hidapi"]
	path = tests/hidapi
	url = https://github.com/digitalbitbox/hidapi.git
