language: c
os:
    - linux

env:
    - ENV="-DBUILD_TYPE=test -DUSE_SECP256K1_LIB=ON"        TEST=yes
    - ENV="-DBUILD_TYPE=test -DUSE_SECP256K1_LIB=OFF"       TEST=yes
    - ENV="-DBUILD_TYPE=bootloader -DUSE_SECP256K1_LIB=OFF" TEST=no # use the smaller ecc lib
    - ENV="-DBUILD_TYPE=firmware -DUSE_SECP256K1_LIB=ON"    TEST=no
    - ENV="-DBUILD_TYPE=firmware -DUSE_SECP256K1_LIB=OFF"   TEST=no

compiler:
    - clang
    - gcc

matrix:
    exclude:
        # mcu build uses its own arm compiler, so run with just one travis 'compiler'
        - compiler: clang 
          env: ENV="-DBUILD_TYPE=firmware -DUSE_SECP256K1_LIB=ON"  TEST=no
        - compiler: clang 
          env: ENV="-DBUILD_TYPE=bootloader -DUSE_SECP256K1_LIB=OFF"  TEST=no
    fast_finish:
        - true

addons:
  apt_packages:
    - lib32bz2-1.0
    - lib32ncurses5
    - lib32z1
    - valgrind

install:
    - pip install --user urllib3[secure]
    - pip install --user cpp-coveralls 
    - cd contrib
    - tar xfv astyle_2.05.1_linux.tar.gz;
          cd astyle/build/gcc && make;
          export PATH=$PATH:$PWD/bin/;
          cd ../../..; 
    - if [ "$TEST" = "no" ]; then
          wget https://launchpad.net/gcc-arm-embedded/4.9/4.9-2015-q3-update/+download/gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2;
          tar -xf gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2;
          cp ../src/drivers/lib/libssp* gcc-arm-none-eabi-4_9-2015q3/lib/gcc/arm-none-eabi/4.9.3/armv7e-m/;
          export PATH=$PATH:$PWD/gcc-arm-none-eabi-4_9-2015q3/bin;
      fi;
    - if [ "$TEST" = "yes" ]; then
          sudo apt-get update;
          sudo apt-get install libudev-dev;
      fi;

before_script:
    - cd $TRAVIS_BUILD_DIR
    - if astyle --style=stroustrup --indent-switches --indent-labels --pad-oper --pad-header --align-pointer=name --add-brackets --convert-tabs --max-code-length=90 --break-after-logical --suffix=none *.c *.h --recursive --exclude=contrib --exclude=src/yajl --exclude=src/secp256k1 --exclude=tests/windows/hidapi --exclude=src/drivers --dry-run -Q | grep "Formatted" ; then exit 1 ; fi;
    - gpg --import contrib/contributors_gpg_keys/*
    - if git log --pretty="format:%H   %aN   %s   %G?" f0a012e224fedac87b0393a161d4af1473fea74a..HEAD^1 | grep -v "${t} G$" | grep -v "${t} U$"; then exit 1 ; fi;

script: 
    - mkdir build && cd build
    - cmake .. $ENV -DCONTINUOUS_INTEGRATION=1 && make
    - if [ "$TEST" = "yes" ]; then
          make test;
      fi;
    - if [ "$TEST" = "yes" ] && [ "${CC}" = "gcc" ]; then
          valgrind --leak-check=full --error-exitcode=1 bin/tests_api;
      fi;
    - if [ "$TEST" = "yes" ] && [ "${CC}" = "gcc" ]; then
          valgrind --leak-check=full --error-exitcode=1 bin/tests_u2f_hid;
      fi;
    - if [ "$TEST" = "yes" ] && [ "${CC}" = "gcc" ]; then
          valgrind --leak-check=full --error-exitcode=1 bin/tests_u2f_standard;
      fi;
    - if [ "$TEST" = "yes" ] && [ "${CC}" = "gcc" ]; then
          valgrind --leak-check=full --error-exitcode=1 bin/tests_unit;
      fi;
      
after_success:
    - coveralls --verbose -i src -x c --exclude $TRAVIS_BUILD_DIR/src/secp256k1/src --exclude $TRAVIS_BUILD_DIR/src/yajl/src --exclude $TRAVIS_BUILD_DIR/build/src/CMakeFiles/bitbox.dir/yajl/src -r $TRAVIS_BUILD_DIR -b $TRAVIS_BUILD_DIR/build/src/CMakeFiles/bitbox.dir --gcov-options '\-lp'
